@import "tailwindcss";

body {
  font-family: "Familjen Grotesk", sans-serif;
}

button:hover {
  cursor: pointer;
}

.contact input,
textarea {
  padding: 20px 30px;
  border-radius: 10px;
  background-color: #343333;
  border: 1px solid #8D8D8D;
}

.contact label {
  font-size: 14px;
  margin: 5px 0px;
}